.Dashboard-header {
  text-align: center;
  margin-top: 20px;
}

.money-pool, .donation-section {
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.money-pool h4, .donation-section input, .donation-section button {
  margin: 10px 0;
}

.donation-section input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.donation-section button {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}